-- MariaDB dump 10.19  Distrib 10.4.28-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: challan_genration
-- ------------------------------------------------------
-- Server version	10.4.28-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `student_excel`
--

DROP TABLE IF EXISTS `student_excel`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `student_excel` (
  `challan_generation_id` int(11) NOT NULL AUTO_INCREMENT,
  `Challan_No` varchar(255) DEFAULT NULL,
  `Student_ID` varchar(255) DEFAULT NULL,
  `Student_Name` varchar(255) DEFAULT NULL,
  `Semester` varchar(255) DEFAULT NULL,
  `Tuition_fee` varchar(255) DEFAULT NULL,
  `Tuition_fee_Discount` varchar(255) DEFAULT NULL,
  `Admission_fee` varchar(255) DEFAULT NULL,
  `University_Reg_fee` varchar(255) DEFAULT NULL,
  `Security_Deposit_Refundable` varchar(255) DEFAULT NULL,
  `Medical_Checkup` varchar(255) DEFAULT NULL,
  `Semester_Enrollment_Fee` varchar(255) DEFAULT NULL,
  `Examination_Fee` varchar(255) DEFAULT NULL,
  `Co_Curricular_activities_fee` varchar(255) DEFAULT NULL,
  `Hostel_Fee` varchar(255) DEFAULT NULL,
  `PMC_Registration` varchar(255) DEFAULT NULL,
  `Pharmacy_Council_Reg_Fee` varchar(255) DEFAULT NULL,
  `Clinical_Charges` varchar(255) DEFAULT NULL,
  `Library_Fee` varchar(255) DEFAULT NULL,
  `Migration_Fee` varchar(255) DEFAULT NULL,
  `Document_Verification_Fee` varchar(255) DEFAULT NULL,
  `Application_Prospectus_Fee` varchar(255) DEFAULT NULL,
  `Degree_and_Convocation_Fee` varchar(255) DEFAULT NULL,
  `Advance_Tax` varchar(255) DEFAULT NULL,
  `Others_Specify` varchar(255) DEFAULT NULL,
  `Late_fee` varchar(255) DEFAULT NULL,
  `Transport_Charges` varchar(255) DEFAULT NULL,
  `Special_Discount` varchar(255) DEFAULT NULL,
  `Department` varchar(255) DEFAULT NULL,
  `Due_Date` varchar(255) DEFAULT NULL,
  `Others_Narration` varchar(255) DEFAULT NULL,
  `Campus_Development_Charges` varchar(255) DEFAULT NULL,
  `Total_Amount` varchar(255) DEFAULT NULL,
  `Hostel_Fee_Month` varchar(255) DEFAULT NULL,
  `Fine_Per_Day` varchar(255) DEFAULT NULL,
  `Cut_Off_Date` varchar(255) DEFAULT NULL,
  `Fine_Narration` varchar(255) DEFAULT NULL,
  `Document_Verification_Narration` varchar(255) DEFAULT NULL,
  `GL_Narration` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL ON UPDATE current_timestamp(),
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `issue_date` varchar(255) DEFAULT NULL,
  `Installment` varchar(255) DEFAULT NULL,
  `inst_issue_date` varchar(255) DEFAULT NULL,
  `inst_due_date` varchar(255) DEFAULT NULL,
  `challan_status` tinyint(4) DEFAULT 0,
  `session` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`challan_generation_id`)
) ENGINE=InnoDB AUTO_INCREMENT=234 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_excel`
--

LOCK TABLES `student_excel` WRITE;
/*!40000 ALTER TABLE `student_excel` DISABLE KEYS */;
/*!40000 ALTER TABLE `student_excel` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user` (
  `user_id` int(11) NOT NULL AUTO_INCREMENT,
  `email` varchar(255) DEFAULT NULL,
  `password` varchar(255) DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL ON UPDATE current_timestamp(),
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `role` varchar(255) NOT NULL,
  `token` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
INSERT INTO `user` VALUES (11,'mak@gmail.com','$2y$10$8gBXjCdQM7TRgZFK9di5SeakYltwZSx7w8a0N720LsTCFl/tMWmJK','2023-06-26 08:51:55','2023-06-21 04:43:26','Admin','8kKrY8Nhg17ReyIqeora7JMVaOySq0Py');
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2023-06-26 18:58:06
